@charset "utf-8";
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fffae9;
}

.logo {
    width: 200px;
    margin-top: 12px;
}

.page-header {
    display: flex;
    justify-content: space-between;
}


.big-bg {
    background-size: cover;
    position: relative;
    height: 600px;
}

.cafe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    font-size: 2.0rem;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.7);
    padding: 10px 20px;
    border-radius: 8px;
}

section img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
}

main {
    text-align: center;
    padding: 50px 40px;

}

.link {
    color: #004104;
    text-align: center;
    text-decoration-line: underline;
     padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {
    text-align: center;
}

footer {
    background-color: #f8e8b9;
    padding: 15px;
    text-align: center;
    margin-top: 30px;
}
